<header class="ui basic very padded segment dream-header">
  {{ if isset .Site.Params "avatar" }}
  <div class="ui small circular image">
    <img src="{{ .Site.Params.avatar | relURL }}" alt="avatar" />
  </div>
  {{ end }}

  <div class="content">
    <h1 class="ui medium header">
      {{- if .Site.Params.headerTitle -}}
        {{- .Site.Params.headerTitle -}}
      {{- else -}}
        Set headerTitle in the config to display
      {{- end -}}
      <span class="sub header">
        {{- .Site.Params.motto | safeHTML -}}
      </span>
    </h1>

    <article class="ui horizontal list">
      {{ if gt (len (where .Site.RegularPages "Section" "==" "posts")) 0 }}
      <a class="item" href="{{ "posts" | relLangURL }}">
        <i class="archive icon" title="{{ T "archives" }}"></i>
      </a>
      {{ end }}
      <a class="item" href="{{ "categories" | relLangURL }}">
        <i class="th list icon" title="{{ T "allCategories" }}"></i>
      </a>
      <a class="item" href="{{ "tags" | relLangURL }}">
        <i class="tags icon" title="{{ T "allTags" }}"></i>
      </a>
    </article>

    {{ if .Site.Taxonomies.tags }}
    {{ $tags := slice }}
    {{ $first := slice }}
    {{ $rest := slice }}
    {{ range .Site.Taxonomies.tags }}
      {{ $tags = $tags | append (dict "title" .Page.Title "link" .Page.RelPermalink) }}
    {{ end }}
    {{ $sum := len $tags }}

    {{ $maxTags := .Site.Params.maxTags }}

    {{ if $maxTags }}

    {{ $first = first $maxTags $tags }}
    {{ $rest = last (sub $sum $maxTags) $tags }}

    <div class="tags-with-dropdown">
      <div class="ui accordion">
        <div class="title">
          <div class="ui horizontal list">
            <a class="item dropdown" href="#">
              <i class="chevron right icon dropdown-icon"></i>
            </a>
          </div>
          <div class="dream-tags">
          {{ range $tag := $first }}
          {{ $title := index $tag "title" }}
          {{ $link := index $tag "link" }}
            <a class="ui label" href="{{ $link }}" title="{{ $title }}">
              {{ $title }}
            </a>
          {{ end }}
          </div>
        </div>
        <div class="content">
    {{ else }}
    {{ $rest = $tags }}
    {{ end }}
          <div class="dream-tags"{{ if $maxTags }} style="margin-left: 1.5rem;"{{ end}}>
          {{ range $tag := $rest }}
          {{ $title := index $tag "title" }}
          {{ $link := index $tag "link" }}
            <a class="ui label" href="{{ $link }}" title="{{ $title }}">
              {{ $title }}
            </a>
          {{ end }}
          </div>
    {{ if $maxTags }}
        </div>
      </div>
    </div>
    {{ end }}

    {{ end }}
  </div>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
 <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
       <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
           tex2jax: {
             inlineMath: [ ['$','$'], ["\\(","\\)"] ],
             processEscapes: true
           }
         });
       </script>
       <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
       
{{ template "_internal/opengraph.html" . }}

<!-- layouts/partials/head.html -->
  {{ partial "seo/og.html" . }}
  {{ template "_internal/google_news.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}

  <!-- layouts/partials/seo/og.html -->
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ if .IsPage }}
    {{ with .Params.images }}
      {{ range first 6 . }}
        <meta property="og:image" content="{{ . | absURL }}" />
      {{ end }}
    {{ end }}
  {{ else }}
    {{ with .Site.Params.images }}
      {{ range first 6 . }}
        <meta property="og:image" content="{{ . | absURL }}" />
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if not .Date.IsZero }}
    <meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
  {{ end }}
  {{ with .Params.audio }}
    <meta property="og:audio" content="{{ . }}" />
  {{ end }}
  {{ with .Params.locale }}
    <meta property="og:locale" content="{{ . }}" />
  {{ end }}
  {{ with .Site.Params.title }}
    <meta property="og:site_name" content="{{ . }}" />
  {{ end }}
  {{ with .Params.videos }}
    {{ range .Params.videos }}
      <meta property="og:video" content="{{ . | absURL }}" />
    {{ end }}
  {{ end }}
  <!-- If it is part of a series, link to related articles -->
  {{ $permalink := .Permalink }}
  {{ $siteSeries := .Site.Taxonomies.series }}
  {{ with .Params.series }}
    {{ range $name := . }}
      {{ $series := index $siteSeries $name }}
        {{ range $page := first 6 $series.Pages }}
          {{ if ne $page.Permalink $permalink }}
            <meta property="og:see_also" content="{{ $page.Permalink }}" />
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ if .IsPage }}
      {{ range .Site.Authors }}
        {{ with .Social.facebook }}
          <meta property="article:author" content="https://www.facebook.com/{{ . }}" />
        {{ end }}
        {{ with .Site.Social.facebook }}
          <meta property="article:publisher" content="https://www.facebook.com/{{ . }}" />
        {{ end }}
        <meta property="article:published_time" content="{{ .PublishDate }}" />
        <meta property="article:modified_time" content="{{ .Date }}" />
        <meta property="article:section" content="{{ .Section }}" />
        {{ with .Params.tags }}
          {{ range first 6 . }}
            <meta property="article:tag" content="{{ . }}" />
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
    <!-- Facebook Page Admin ID for Domain Insights -->
    {{ with .Site.Social.facebook_admin }}
      <meta property="fb:admins" content="{{ . }}" />
    {{ end }}
    {{ with .Site.Social.facebook_app_id }}
      <meta property="fb:app_id" content="{{ . }}" />
    {{ end }}

</header>


